#main, html, body, .app {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  margin: 0;
}

.app {
  display: flex;
  height: 100%;
  flex-flow: column;
}

.header {
  flex: 0 1 auto;
}
.content {
  flex: 1 1 content;
  height:auto;
}

.Header {
  height: 100%;
}
.player {
  float: left;
}
.selected {

}
.checked {
  border: 2px red solid;
}

.avatars {
  flex-direction: row !important;
}


.list-horizontal-display > div {
    display: inline-block;
}




.maxHeight {
  height: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}

.tabsContainer {
  display: flex !important;
  flex-direction: column;
  height: auto;
}

.tabsHeader {
  width: 100%;
  flex: 0 1 auto;
}

.tabsBody {
  flex: 1 1 auto;
}

.editor, .runner {
  width: 50%;
  height: 100%;
}

.runner {
  background-color:  red;
}
